{% extends 'claim_base.html' %}
{% block content %}
    <!-- Page Title-->
    <div class="page-title pt-2 pb-2 mb-3">
        <div class="container">
            <div class="column">
                <h1>填写出险信息</h1>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-3">
        <div class="row">
            <div class="col-md-12">
                <form class="row" method="post" action="/claim/fill">
                    {% csrf_token %}

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name">出险类型</label>
                            <input class="form-control" type="text" id="accident_type" name="accident_type" disabled=""
                                   value="{% if accident_type == 'zhuiwei' %}追尾事故{% elif accident_type == 'danche' %}单车事故{% elif accident_type == 'guaca' %}刮擦事故{% endif %}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="national_id">承保公司</label>
                            <input class="form-control" type="text" id="company" name="company" disabled="" value="{{ company }}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">车牌号</label>
                            <input class="form-control" type="text" id="car_plate" name="car_plate" required="" value="{{ car_plate }}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">被保险人姓名</label>
                            <input class="form-control" type="text" id="insured_person" name="insured_person" required="" value="{{ insured_person }}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">驾驶员姓名</label>
                            <input class="form-control" type="text" id="driver" name="driver" required="" value="{{ driver }}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">联系电话</label>
                            <input class="form-control" type="text" id="contact_phone" name="contact_phone" required="" value="{{ contact_phone }}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">出险时间</label>
                            <input class="form-control" type="datetime-local" id="time" name="time" required="" placeholder="时间" value="{{ time }}" onchange="getTime()">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">出险地点</label> <a href="#" onclick="getLocation()" id="get_location_link"><i class="fa fa-compass"></i>点此自动获取地址</a>
                            <textarea class="form-control" type="text" id="location" name="location" rows="5" required="" placeholder="请尽量详细填写">{{ location }}</textarea>
                        </div>
                        <div style=" display:none" id="allmap"></div>
                    </div>
                    <div class="col-12 text-center text-sm-right mb-5">
                        <a class="btn btn-outline-primary btn-sm" href="/claim/company">返回</a>
                        <button class="btn btn-primary btn-sm" type="submit">下一步</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=dbH3G4ExidunlE0MhuujXBRlRwvrPkmU"></script>

    <script>
        function getLocation() {
            $("#get_location_link").html('<i class="fa fa-compass"></i>正在获取地址。。。');

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        var latitude = position.coords.latitude;
                        var longitude = position.coords.longitude;

                        var map = new BMap.Map("allmap");
                        map.centerAndZoom(new BMap.Point(116, 39), 11);

                        // 创建地理编码实例
                        var myGeo = new BMap.Geocoder();
                        // 根据坐标得到地址描述
                        myGeo.getLocation(new BMap.Point(longitude, latitude), function (result) {
                            {#myGeo.getLocation(new BMap.Point(116.44556, 39.23453), function (result) {#}
                            if (result && result.address !== '') {
                                alert(result.address);
                                $("#location").val(result.address);
                                $("#get_location_link").html('<i class="fa fa-compass"></i>地址获取完成，点此重新定位。');

                            }
                            else
                                alert("当前地址未知，请手动填写地址");
                            $("#get_location_link").html('<i class="fa fa-compass"></i>地址获取完成，点此重新定位。');

                        });
                    }, function (error) {
                        alert("获取位置失败，请手动填写地址。\nError: " + error.toSource());
                        $("#get_location_link").html('<i class="fa fa-compass"></i>地址获取完成，点此重新定位。');

                    });
            }
            else {
                alert("当前浏览器不支持定位，请手动填写地址");
                $("#get_location_link").html('<i class="fa fa-compass"></i>地址获取完成，点此重新定位。');

            }
        }

        function setTime() {
            var d = new Date();

            if (d.getMonth() + 1 < 10)
                var mon = '0' + (d.getMonth() + 1);
            else
                var mon = d.getMonth() + 1;

            if (d.getDate() < 10)
                var day = '0' + d.getDate();
            else
                var day = d.getDate();

            if (d.getHours() < 10)
                var hr = '0' + d.getHours();
            else
                var hr = d.getHours();

            if (d.getMinutes() < 10)
                var min = '0' + d.getMinutes();
            else
                var min = d.getMinutes();

            var datetimenow = d.getFullYear() + '-' + mon + '-' + day + 'T' + hr + ':' + min;
            $("#time").val(datetimenow)
        }

        function getTime() {
            if (Date.parse($("#time").val()) > Date.now()) {
                alert('出险时间必须小于当前时间');
                setTime();
            }
        }

        {% if not time %}
            $(document).ready(function () {
                setTime();
            });
        {% endif %}
    </script>
{% endblock %}