{% extends 'claim_base.html' %}
{% block content %}
    <!-- Page Title-->
    <div class="page-title pt-2 pb-2 mb-3">
        <div class="container">
            <div class="column">
                <h1>我的理赔</h1>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="isotope-grid cols-4 mb-2">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            <!-- Product-->
            <div class="grid-item">
                <div class="product-card">
                    <h3 class="product-title"><a href="/claim/type">新的理赔</a></h3>
                    <div class="product-buttons">
                        <a class="btn btn-outline-primary btn-sm" href="/claim/type">选择</a>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div class="grid-item">
                <div class="product-card">
                    <h3 class="product-title"><a href="/claim/resume">查看未完成的理赔</a></h3>
                    <div class="product-buttons">
                        <a class="btn btn-outline-primary btn-sm" href="/claim/resume">选择
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}